$height: 285px
$heightSm: 150px
$heightXs: 65px
$angle: -6deg
	
.sect-5
	width: 100%
	height: 760px
	background-color: #f2f2f2
	&__layer
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		overflow: hidden
		&_1
			z-index: 1
		&_2
			z-index: 2
		&_3
			z-index: 3

+media(md)
	.sect-5
		height: 868px
		&__layer
			&_1, &_2
				height: 580px
			&_3
				top: 580px
				height: 288px
		&__arrows
			display: none

+media(sm)
	.sect-5
		height: 708px
		&__layer
			&_1, &_2
				height: 420px
			&_3
				top: 420px
				height: 288px

+media(xs)
	.sect-5
		height: 812px
		&__layer
			&_1, &_2
				height: 420px
			&_3
				top: 420px
				height: 392px

.sect-5-figure
	&__top,
	&__bottom,
	&__reverse
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		height: 100%
	&__top
		z-index: 2
	&__bottom
		z-index: 1
	&__reverse
		bottom: $height * -1
		left: 50%
		width: 200%
		height: ($height * 2)
		transform-origin: 50% 50%
		transform: translate(-50%) rotate(#{$angle})
		position: absolute
		background-color: $ac
	&__col-6
		position: absolute
		left: 50%
		bottom: 74px
		width: _col(6, lg)
		+b4p
	&__box
		width: 100%
		height: 541px
		background-color: #000

+media(md)
	.sect-5-figure
		&__col-6
			display: none
		&__reverse
			bottom: $heightSm * -1
			height: ($heightSm * 2)

+media(xs)
	.sect-5-figure
		&__reverse
			bottom: $heightXs * -1
			height: ($heightXs * 2)

.sect-5-main-people
	&__top,
	&__bottom,
	&__reverse
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		height: 100%
	&__top
		bottom: auto
		right: auto
		top: 0
		left: 0
		height: calc(100% + #{$height})
	&__bottom
		bottom: $height  * -1
		overflow: hidden
		height: ($height * 2)
		transform-origin: 50% 100%
		transform: rotate(#{$angle})
	&__reverse
		transform-origin: 50% 100%
		transform: rotate(#{$angle * -1})
		position: absolute
	&__col-6
		position: absolute
		width: _col(6, lg)
		left: 50%
		transform: translateX(-100%)
		bottom: $height
		+b4p
	&__img
		height: 668px

+media(md)
	.sect-5-main-people
		&__top
			height: calc(100% + #{$heightSm})
		&__bottom
			bottom: $heightSm  * -1
			height: ($heightSm * 2)
		&__col-6
			width: _col(6, md)
			transform: translateX(#{_col(3, md) * -1})
			bottom: $heightSm
		&__img
			width: 100%
			height: auto

+media(sm)
	.sect-5-main-people
		&__col-6
			width: _col(6, sm)
			transform: translateX(#{_col(3, sm) * -1})

+media(xs)
	.sect-5-main-people
		&__top
			height: calc(100% + #{$heightXs})
		&__bottom
			bottom: $heightXs  * -1
			height: ($heightXs * 2)
		&__col-6
			bottom: $heightXs

.sect-5-text
	&__top,
	&__reverse
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		height: 100%
	&__top
		z-index: 2
	&__col-6
		position: absolute
		left: 50%
		bottom: 74px
		width: _col(6, lg)
		+b4p
	&__box
		width: 100%
		height: 541px

+media(md)
	.sect-5-text
		&__col-6
			position: relative
			left: auto
			bottom: auto
			transform: translate(0)
			width: 100%
			padding: 0
		&__box
			background-color: #000000
			height: 288px

+media(md)
	.sect-5-text
		&__box
			height: 392px
